<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<script type="text/javascript" src="node_modules/monkberry/monkberry.js">
    </script>-->
    <script type="text/javascript" src="tmp/monkberry.min.js">
    </script>
       <!--<script>
       window.onload=function(){
        var view = Monkberry.render(Template, document.body);
        view.update({name: 'World'});
       }
   </script>-->
</head>

<body>
    <script type="text/monkberry" id="Template">
         <ol>
            {% for todo of todos %}
            <li>
                {% if todo.complete %}
                <del>{{ todo.text }}</del>
                {% else %}
                <em>{{ todo.text }}</em> {% endif %}
            </li>
            {% endfor %}
        </ol>
        <form>
            <input type="text">
            <button type="submit">Add #{{ todos.length + 1 }}</button>
        </form>
    </script>


    <!--<script type="text/monkberry" id="Template">
        <h1>Hello {{ name }}!</h1>
    </script>-->

    <script>
    window.onload = function(){
        var state = {
            todos: [{
                text: 'Primum',
                complete: true
            }, {
                text: 'Secundo',
                complete: false
            }, {
                text: 'Tertium',
                complete: false
            }]
        };

        var view = Monkberry.render(Template, document.body);
        view.update(state);

        view.on('submit', 'form', function (event) {
            event.preventDefault();
            var input = view.querySelector('input');

            state.todos.push({
                text: input.value,
                complete: false
            });
            view.update(state);

            input.value = '';
        });
    }
    </script>

</body>

</html>
