
#ruler-panel{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(50,50,50,1);
    z-index: 9999;
}

#TMK_menus{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10000;
    margin-left: -78px;
}

#TMK_menus ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#TMK_menus li{
    float: left;
    padding: 3px 10px;
    background: #fff;
    cursor: pointer;
}

#TMK_menus li:hover{
    color: #fff;
    background: #f90;
}

