

#ruler-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
<<<<<<< HEAD
    background: rgba(153,153,153,1);
=======
    background: rgba(255,255,255,0.5);
    cursor: default;
>>>>>>> 0500dabff1b264ae04a04dd835323bb1799bfccf
}


