<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas Design</title>
    <link rel="stylesheet" href="./../css/normalize.css">
</head>
<body>
    <div class="c-container">
        <div class="c-canvas-panel">
            <ul class="c-btns">
                <li class="c-btn selected">直线</li>
                <li class="c-btn ">钢笔</li>
            </ul>
            <canvas id="canvas"></canvas>
        </div>
        <div class="c-code-panel">

        </div>
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
    <script type="text/javascript" src="http://localhost:4001/app.js"></script>
</body>
</html>