<html>

<head>
	<title>vue start</title>
	<script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
	<script type="text/javascript" src="node_modules/vuex/dist/vuex.js"></script>
</head>

<body>
	
	<div id="render_lab">
		<js-render :level="level">audi A3</js-render>
	</div>

	<hr>
	<!--插槽-->
	<script type="text/html" id="slot_child">
	<div>
		<div>I'm child.</div>
		<slot>
			This is slot.
		</slot>
		<p>content</p>
		<slot name="footer">
		</slot>
	</div>
	</script>
	<div id="slot_lab">
		<p>{{message}}</p>
		<child>
			<div>slot ok</div>
			<div slot="footer">it is footer</div>
		</child>
	</div>

	<hr>
	<!--动态组件-->
	<div id="dynamic_componet_lab">
		<div >dynamic components</div>
		<keep-alive>
			<div :is="currentView"></div>
		</keep-alive>
	</div>

	<!--vuex-->
	<hr>
	<div id="vuex_lab">
		<div>vuex</div>
		<div>counter:{{$store.state.count}}</div>
		<button @click="increment">+</button>
	</div>

	<!--vue-loader-->
	<hr>
	<div id="vue_loader_lab">
		hi vue-loader
		<test></test>
	</div>

	<!--computed lab-->
	<hr>
	<div id="computed_lab">
		<div>{{sayHello}}</div>
	</div>

	<!--表单-->
	<hr>	
	<div id="forms_lab">
		<!--绑定单个-->
		<div><label><input type="checkbox" v-model="ischecked">single dog</label> </div>
		<!--绑定数组-->
		<div>
			<label > <input type="checkbox" value="roll" v-model="names">roll </label>
			<label > <input type="checkbox" value="up" v-model="names">up </label>
			<label > <input type="checkbox" value="bell" v-model="names">bell </label>
			<div>selected: 
				<span v-for="item in names"> {{item}} </span>
			</div>
		</div>
		<!--绑定单元框-->
		<div>
			<label > <input type="radio" value="one" v-model="orders"> one </label>
			<label > <input type="radio" value="two" v-model="orders"> two </label>
			<div>selected: <span>{{orders}}</span></div>
		</div>
	</div>

	<script type="text/javascript" src="js/renderLab.js"></script>
	<script type="text/javascript" src="js/slotLab.js"></script>
	<script type="text/javascript" src="js/dynamicComponetLab.js"></script>
	<script type="text/javascript" src="js/vuexLab.js"></script>
	<script type="text/javascript" src="build/main.js"></script>
	<script type="text/javascript" src="js/computedLab.js"></script>
	<script type="text/javascript" src="js/formsLab.js"></script>
</body>

</html>
